body {
    background: var(--white);
}
.wrapper-header {
    backdrop-filter: unset;
    box-shadow: none;
    -webkit-backdrop-filter: saturate(180%) blur(6px);
    backdrop-filter: saturate(180%) blur(6px);
    background: rgba(255,255,255,0.9);
    border-bottom: 0px solid #e8ebed00;
}

.header_center #directional li a {
    color: #222;
}

.block {
    margin-top: 48px;
}

.container {
    height: 100%;
    width: 100%;
    background-size: 100% !important;
}

.wrapper-header .header-right .search  .search-click {
    color: rgb(3, 3, 3);
    background: rgba(51, 51, 51, 0.12);
    color: var(--black);
}

.wrapper-header .header-right .search  .search-click span {
    color: var(--black);
}

.header_center #directional li .line {
    border: 2px solid var(--main);
}

/* --------- Header --------- */

.container-footer {
    margin-top: 0 !important;
}

.dashboard-wrapper {
    display: flex;
}

.dashboard-left {
    background-color: rgb(255, 255, 255);
    color: #464646;
    box-shadow: none;
    background-image: none;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    height: 100%;
    min-height: 100vh;
    top: 0px;
    left: 0px;
    max-width: 270px;
    box-sizing: border-box;
    flex: 1 0 auto;
    outline: 0px;
    border-right: 1px solid rgb(229, 234, 239);
    border-color: rgb(229, 234, 239);
    transition: width 150ms cubic-bezier(0.4, 0, 0.2, 1);
}

.dashboard-left .dashboard-lists {
    padding: 0 24px 24px 24px;
    box-sizing: border-box;
    overflow-y: auto;
}

.dashboard-left .dashboard-lists .title {
    box-sizing: border-box;
    list-style: none;
    font-weight: 700;
    font-size: 0.75rem;
    line-height: 26px;
    text-transform: uppercase;
    margin-top: 24px;
    margin-bottom: 0px;
    padding: 3px 12px;
    margin-left: -10px;
}

.dashboard-left .dashboard-lists .item-dashboard {
    display: flex;
    flex-direction: column;
}

.dashboard-left .dashboard-lists .btn-dashboard {
    justify-content: space-between;
    
}

.dashboard-left .dashboard-lists .item-dashboard a, button {
    cursor: pointer;
    width: 100%;
    display: flex;
    align-items: center;
    gap: 10px;
    box-sizing: border-box;
    text-align: left;
    outline: 0px;
    color: #222;
    font-size: 15.5px;
    margin: 0px 0px 2px;
    transition: background-color 150ms cubic-bezier(0.4, 0, 0.2, 1);
    white-space: nowrap;
    padding: 12px 10px;
    border-radius: 7px;
}

.dashboard-left .dashboard-lists .item-dashboard .btn-dashboard:hover {
    background-color: rgb(236, 242, 255);
    color: rgb(93, 135, 255);
}

.dashboard-left .dashboard-lists .item-dashboard .btn-dashboard:hover {
    background-color: rgb(236, 242, 255);
}

.dashboard-left .dashboard-lists .item-dashboard a:hover {
    color: rgb(93, 135, 255);
}

.dashboard-left .dashboard-lists .item-dashboard .btn-dashboard.active {
    color: white;
    background-color: rgb(93, 135, 255);
}

.dashboard-left .dashboard-lists .item-dashboard ul {
    display: none;
    margin-left: 5px;
}

.dashboard-left .dashboard-lists .item-dashboard ul.active {
    display: block;
}

.dashboard-left .dashboard-lists .item-dashboard .des-main {
    display: flex;
    align-items: center;
    gap: 10px;
}

.dashboard-right {
    padding: 24px;
    width: 100%;
}