.dashboard-right .wrapper-top ul {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    gap: 25px;
}

.dashboard-right .wrapper-top ul li {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-basis: calc(100% / 6);
    padding: 24px;
    box-sizing: border-box;
    border-radius: 7px;
}

.dashboard-right .wrapper-top ul li .poster {
    flex-basis: 50%;
}

.dashboard-right .wrapper-top ul li .text {
    text-align: center;
    margin: 8px 0px 0px;
    font-size: 0.875rem;
    line-height: 1.75;
    color: rgb(93, 135, 255);
    font-weight: 600;
}

.dashboard-right .wrapper-top ul li .text span {
    font-size: 1.3125rem;
    line-height: 1.6rem;
    color: rgb(93, 135, 255);
    font-weight: 600;
}