.container {
  background: var(--white);
}

.wrapper-header {
  box-shadow: none;
  backdrop-filter: saturate(180%) blur(6px);
  background: rgba(255, 255, 255, 0.9);
  border-bottom: 1px solid rgb(232, 235, 237);
}

.wrapper-header.plus {
  box-shadow: unset;
}

.header_center #directional li a {
  color: rgb(34, 34, 34);
}

.block {
  margin-top: 48px;
}

.wrapper-header .header-right .search .search-click {
  color: rgb(3, 3, 3);
  background: rgba(51, 51, 51, 0.12);
}

.wrapper-header .header-right .search .search-click span {
  color: rgb(3, 3, 3);
}

.header_center #directional li .line {
  border: 2px solid var(--main);
}

.group-wrapper {
  display: block;
  margin: 0px 35px;
  padding: 40px 35px;
  padding-top: 50px;
  box-sizing: border-box;
}

.group-filter {
  padding-top: 20px;
}

.group-wrapper .group-title {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}

.group-wrapper .group-title input[name="search-keyword"] {
  width: 100%;
  outline: none;
  border: none;
  border-radius: 0px;
  background: var(--white);
  border-bottom: 1px solid rgba(0, 0, 0, .15);
  font-size: 32px;
  padding: 5px 0;
}

.group-wrapper .group-title input[name="search-keyword"]::placeholder {
  color: #757575
}

.group-wrapper .group-title .group-selector {
  display: flex;
  gap: 7.5px;
}

.group-filter .group-title .group-selector section {
  display: flex;
  gap: 0;
}

.group-filter .group-title .group-selector button {
  background: #F9F9FD;
  color: #000;
  border-radius: 6px;
  padding: 7.75px 17px;
  cursor: pointer;
  transition: all .1s ease
}

.group-filter .group-title .group-selector button i {
  color: #7A7A7F
}

.group-filter .group-title .group-selector .new {
  border-radius: 6px 0 0 6px;
}

.group-filter .group-title .group-selector section button:nth-child(odd) {
  border-radius: 6px;
  border: 1px solid #e5e5e5;
}

@media (max-width: 767px) {
  .group-wrapper {
      margin: 0px;
      padding: 0 18.5px;
      padding-top: 20px;
      padding-bottom: 30px;
  }

  .group-filter .group-title .group-selector button {
      font-size: 14px;
  }
}

.container-body {
  margin: 0px 35px;
  padding: 35px;
  padding-top: 0px;
  box-sizing: border-box;
}

.container-body .lists-body {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: auto;
  gap: 25px;
}

.container-body .lists-body section {
  border-bottom: 1px solid rgba(0, 0, 0, .15);
}

.container-body .lists-body section .posters {
  display: flex;
  gap: 5px;
}

.container-body .lists-body section .posters img {
  display: flex;
  height: 180px;
  aspect-ratio: 16/12.5;
  object-fit: cover;
  object-position: center;
  box-shadow: var(--box3d);
  cursor: pointer
}

.container-body .lists-body section .posters img:nth-child(1) {
  border-radius: 16px 0 0 16px;
}

.container-body .lists-body section .posters img:nth-child(3) {
  border-radius: 0 16px 16px 0;
}

.container-body .lists-body section .content {
  padding: 30px 0;
  padding-bottom: 40px;
}

.container-body .lists-body section .content h3 {
  font-size: 18px;
  font-weight: 600;
  color: #292929;
  max-width: 100%; 
}

.container-body .lists-body section .content .infomation {
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
  color: #666;
  font-size: 14px;
  font-weight: 500
}

.container-body .lists-body section .content .infomation div {
  gap: 6.5px;
  font-size: 16px;
}

.container-body .lists-body section .content .infomation i {
  font-size: 18px;
  margin-right: 5px;
}

@media (max-width: 767px) {
  .container-body {
      margin: 0px;
      padding: 18.5px;
      padding-top: 0px;
  }

  .container-body .lists-body section .posters {
      width: calc(100vw - (18.5px * 2));
      overflow-x: auto;
      padding-bottom: 12.5px;
  }
}