.container-footer {
    display: flex;
    flex-direction: column;
    overflow: visible;
    font-family: 'usego-Regular' !important;
    margin-top: 50px;
    padding-top: 20px;
    background-color: #edf3f9;
    justify-content: center;
}

.container-footer .footer {
    display: flex;
    width: 90vw;
    padding: 0 60px;
    justify-content: space-between;
    flex-wrap: wrap;
    border-radius: 8px;
}

.footer-bottom {
    width: 100vw;
    flex-wrap: wrap;
    padding: 30px 40px;
    padding-bottom: 10px;
    box-sizing: border-box;
    background: #2a2a32;
    color: #949498;
    z-index: 3;
}

.footer-bottom .lists-footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.footer-bottom .lists-footer .item-footer {
    position: relative;
    display: flex;
    flex-direction: column;
    flex-basis: 33%;
    padding: 30px;
    box-sizing: border-box;
}

.footer-bottom .lists-footer .item-footer:before {
    content: '';
    position: absolute;
    width: 1px;
    height: 100%;
    right: 0;
    top: 0;
    border-right: 1px solid #222229;
}

.footer-bottom .lists-footer .item-footer-2 ul {
    display: flex;
    justify-content: space-between
}

.footer-bottom .lists-footer .item-footer-2 ul li {
    display: grid;
    text-align: center;
}

.footer-bottom .lists-footer .item-footer-3 ul {
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.footer-bottom .lists-footer .item-footer-3 ul li a {
    display: grid;
}

.footer-bottom .lists-footer .item-footer-3 ul li a i {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px;
    margin: auto;
    background-color: rgba(148,148,152,0.15);
    -webkit-border-radius: 0.06rem;
    -moz-border-radius: .06rem;
    border-radius: 7px;
    color: #fff;
    transition: all .1s ease
}

.footer-bottom .lists-footer .item-footer-3 ul li a i:hover {
    background: var(--white);
    color: var(--main)
}

.footer-bottom .lists-footer .item-footer-3 .s-text {
    margin-top: 14px;
    text-align: center;
    padding: 0 40px;
}

.footer-bottom .lists-footer .item-footer-3 .s-text h1 {
    font-weight: 900;
    letter-spacing: -1.5px;
    font-size: 38px;
    font-family: inherit;
    color: var(--main);
}


.footer-bottom .lists-footer .item-footer span {
    color: var(--white);
    padding-bottom: 15px;
}

.footer-bottom .lists-footer .item-footer small {
    line-height: 1.65rem;
    color: #949498;
    font-size: 14px;
    transition: all .1s ease
}

.footer-bottom .lists-footer .item-footer small:hover {
    color: var(--white)
}

.footer-bottom .lists-footer .item-footer:nth-child(n + 2) {
    border-left: 1px solid #33333c;
}

.container-footer .footer .footer-head  .content {
    padding: 0 5px;
}

.container-footer .footer .footer-head  .content .text {
    display: flex;
    flex-direction: column;
    gap: 5px;
    flex-basis: 30%;
}

.container-footer .footer .footer-head  .content .text h4 {
    color: #0c0c0c;
    font-size: 16.5px;
    line-height: 1.55rem;
}

.container-footer .footer .footer-head  .content .text p {
    text-align: justify;
    color: #797979;
    font-size: 13px;
    line-height: 1.65rem;
}

.container-footer .footer .footer-head .img-frame {
    position: relative;
    transform: translate(0, 2px);
    cursor: pointer;
}

.container-footer .footer .footer-head .img-frame .hi-frame {
    position: absolute;
    top: 0;
    left: 35px;
    opacity: 0;
    z-index: 0;
    transition: all .2s ease
}

.ji-frame {
    transform: translateY(4px);
    z-index: 2;
    transition: all .2s ease
}

.container-footer .footer .footer-head .img-frame:hover .ji-frame {
    transform: translate(5px, 4px);
}

.container-footer .footer .footer-head .img-frame:hover .hi-frame {
    opacity: 1;
    left: -10px;
}

.container-footer .footer .footer-head .fl_fanpage {
    display: flex;
}

.container-footer .footer .footer-head .fl_fanpage a {
    padding: 8px 16px;
    font-size: 15px;
    color: var(--white);
    transition: all .2s ease
}

.container-footer .footer .footer-head .fl_fanpage a:hover {
    filter: brightness(80%)
}

.container-footer .footer .footer-head .fl_fanpage a:nth-child(1) {
    background: #ff863b;
    border-radius: 6px 0 0 6px;
}

.container-footer .footer .footer-head .fl_fanpage a:nth-child(2) {
    background: var(--main);
    border-radius: 0 6px 6px 0;
}

@media (max-width: 767px) {
    .container-footer .footer {
        width: 100vw;
        padding: 0;
        flex-direction: column;
    }
    .container-footer .footer .footer-head .content {
        flex-direction: column;
        padding: 40px;
        gap: 0px;
    }
    .container-footer .footer .footer-head  .content .text {
        margin-bottom: 25px;
    }
    .footer-bottom .lists-footer {
        grid-template-columns: 1fr;
    }
    .footer-bottom .lists-footer .item-footer:nth-child(n + 2) {
        border: none;
        border-bottom: 1px solid #33333c;
    }
    .footer-bottom .lists-footer .item-footer:before {
        content: '';
        position: absolute;
        width: 100%;
        height: 1px;
        bottom: 0;
        border: none;
        border-bottom: 1px solid #222229 !important;
    }
    .footer-bottom {
        display: flex;
        justify-content: center;
        padding: 20px;
        box-sizing: border-box;
    }
    .footer-bottom .lists-footer .item-footer small {
        text-align: justify;
    }
    .footer-bottom .lists-footer .item-footer {
        padding: 20px 0;
    }
    .footer-bottom .lists-footer .item-footer-2 ul li {
        text-align: center;
    } 
    .footer-bottom .lists-footer .item-footer-3 ul {
        gap: 10px;
    }
    .footer-bottom .lists-footer .item-footer-3 ul li {
        flex-basis: 30%;
    }
    .footer-bottom .lists-footer .item-footer-3 ul li a {
        display: flex;
        align-items: center;
        border-radius: 5px;
        justify-content: space-evenly;
        background: #212126;
        padding: 5px 10px;
        box-sizing: border-box;
        box-shadow: inset 0px 1px 2px #44444499;
    }
    .footer-bottom .lists-footer .item-footer-3 ul li a i {
        background: transparent;
        width: auto;
        height: auto;
        margin: 0;
        color: #69696f;
    }
    .footer-bottom .lists-footer .item-footer-3 .s-text {
        padding: 10px;
    }
}

/* Footer Color */
.footer-color {
    width: 100%;
    height: 4px;
    background-color: #333;
    background-position: 0 0;
    background-repeat: repeat;
    background-image: -webkit-repeating-linear-gradient(to right, #68103b, #68103b 50px, #703f28 50px, #703f28 100px, #a16b13 100px, #a16b13 150px, #a5a02c 150px, #a5a02c 200px, #5e812d 200px, #5e812d 250px, #1c6075 250px, #1c6075 300px, #403161 300px, #403161 350px);
    background-image: -o-repeating-linear-gradient(to right, #68103b, #68103b 50px, #703f28 50px, #703f28 100px, #a16b13 100px, #a16b13 150px, #a5a02c 150px, #a5a02c 200px, #5e812d 200px, #5e812d 250px, #1c6075 250px, #1c6075 300px, #403161 300px, #403161 350px);
    background-image: -webkit-repeating-linear-gradient(left, #68103b, #68103b 50px, #703f28 50px, #703f28 100px, #a16b13 100px, #a16b13 150px, #a5a02c 150px, #a5a02c 200px, #5e812d 200px, #5e812d 250px, #1c6075 250px, #1c6075 300px, #403161 300px, #403161 350px);
    background-image: -o-repeating-linear-gradient(left, #68103b, #68103b 50px, #703f28 50px, #703f28 100px, #a16b13 100px, #a16b13 150px, #a5a02c 150px, #a5a02c 200px, #5e812d 200px, #5e812d 250px, #1c6075 250px, #1c6075 300px, #403161 300px, #403161 350px);
    background-image: repeating-linear-gradient(to right, #68103b, #68103b 50px, #703f28 50px, #703f28 100px, #a16b13 100px, #a16b13 150px, #a5a02c 150px, #a5a02c 200px, #5e812d 200px, #5e812d 250px, #1c6075 250px, #1c6075 300px, #403161 300px, #403161 350px);
}

.footer-color-before {
    width: 100%;
    height: 40px;
    background-color: #333;
    background-position: 0 0;
    background-repeat: repeat;
    background-image: -webkit-repeating-linear-gradient(to right, #68103b, #68103b 50px, #703f28 50px, #703f28 100px, #a16b13 100px, #a16b13 150px, #a5a02c 150px, #a5a02c 200px, #5e812d 200px, #5e812d 250px, #1c6075 250px, #1c6075 300px, #403161 300px, #403161 350px);
    background-image: -o-repeating-linear-gradient(to right, #68103b, #68103b 50px, #703f28 50px, #703f28 100px, #a16b13 100px, #a16b13 150px, #a5a02c 150px, #a5a02c 200px, #5e812d 200px, #5e812d 250px, #1c6075 250px, #1c6075 300px, #403161 300px, #403161 350px);
    background-image: -webkit-repeating-linear-gradient(left, #68103b, #68103b 50px, #703f28 50px, #703f28 100px, #a16b13 100px, #a16b13 150px, #a5a02c 150px, #a5a02c 200px, #5e812d 200px, #5e812d 250px, #1c6075 250px, #1c6075 300px, #403161 300px, #403161 350px);
    background-image: -o-repeating-linear-gradient(left, #68103b, #68103b 50px, #703f28 50px, #703f28 100px, #a16b13 100px, #a16b13 150px, #a5a02c 150px, #a5a02c 200px, #5e812d 200px, #5e812d 250px, #1c6075 250px, #1c6075 300px, #403161 300px, #403161 350px);
    background-image: repeating-linear-gradient(to right, #68103b, #68103b 50px, #703f28 50px, #703f28 100px, #a16b13 100px, #a16b13 150px, #a5a02c 150px, #a5a02c 200px, #5e812d 200px, #5e812d 250px, #1c6075 250px, #1c6075 300px, #403161 300px, #403161 350px);
    -webkit-mask-image: linear-gradient(to bottom, black, transparent);
    mask-image: linear-gradient(to bottom, black, transparent);
}

.footer-color-after {
    position: absolute;
    width: 100%;
    height: 35px;
    background: #00000099;
    top: 5px;
}

.footer-part-dropdown {
    position: relative;
    width: 100%;
    height: 100%;
    background: #121212;
}

.condition {
    text-align: center;
    line-height: 1.5rem;
    background: #0000000f;
    backdrop-filter: blur(15px);
    border-radius: 6px;
    margin: 7px 6.5px;
    color: #69696f;
    font-size: 10px;
    letter-spacing: 0.25px;
    padding: 20px 80px;
}

@media (max-width: 767px) {
    .condition {
        text-align: center;
        padding: 30px 20px;
    }
}

/* Overlay */

.modal-overlay {
    background-color: rgba(0,0,0,.5); 
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 998;
    transition: all .2s ease;
    opacity: 0;
    visibility: hidden;
}

.modal-overlay.show {
    visibility: unset;
    opacity: 1;
}

.modal-overlay.accect {
    visibility: unset !important;
    opacity: 1 !important;
}

.modal-content {
    position: fixed;
    top: 7%;
    left: calc(40% / 2);
    background: #ffffff;
    -webkit-backdrop-filter: saturate(180%) blur(25px);
    backdrop-filter: saturate(180%) blur(25px);
    width: 60%;
    height: 86%;
    z-index: 100000;
    overflow: hidden;
    border-radius: 8px;
    box-shadow: 0 5px 10px rgba(0,0,0,.15);
    transition: all .2s ease;
    opacity: 0;
    visibility: hidden;
}

.modal-content.show {
    visibility: unset;
    opacity: 1;
}

.modal-newfeed-pad {
    height: 96%;
    overflow-y: auto;
}

.modal-content .newfeed-new-item {
    width: 100%; 
    overflow-y: scroll;
}

.modal-content header {
    position: sticky;
    top: 0;
    background: var(--white);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 24px;
    z-index: 2;
    border-bottom: 1px solid rgba(0,0,0,0.06);
    box-sizing: border-box;
    transition: all .2s ease
}

.modal-content  header .title {
    display: flex;
    gap: 8.5px;
    align-items: center;
}

.modal-content header .title h4 {
    font-size: 20px;
    font-weight: 500;
    transform: translateY(3.5px);
}

.modal-content header .title .line-site {
    width: 51vw;
    height: 5px;
    border-bottom: 1px solid rgb(10 10 10 / 20%);
}

.modal-content header .close-new-feed {
    display: flex;
    align-items: center;
    aspect-ratio: 1/1;
    background: var(--white);
    border-radius: 50%;
    display: flex;
    font-size: 19px;
    color: #a7a7a7 !important;
    justify-content: center;
    border: none;
    width: 32px;
    cursor: pointer;
    transition: all .2s ease
}

.modal-content .newfeed-new-item header .close-new-feed:hover {
    background: rgba(0,0,0,.1);
}

.modal-content .newfeed-new-item .newfeed-content {
    padding: 5px 0;
}

.modal-content .newfeed-new-item .hastag-newfeed {
    padding: 10px 0;
    padding-top: 5px;
    font-size: 17px;
    font-weight: 500;
    letter-spacing: 0.1px;
}

.modal-content .newfeed-new-item .describe-newfeed {
    padding: 10px 0;
    line-height: 1.75rem;
    font-size: 14.8px;
    font-weight: 300;
    letter-spacing: 0.3px;
    overflow: hidden;
    display: block;
    font-weight: 500;
    line-height: 1.6rem;
    -webkit-line-clamp: 8;
    line-clamp: 8;
    display: box;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
    white-space: normal;
    transition: all .2s ease
}

.modal-content .newfeed-new-item .poster-newfeed {
    padding: 10px 0;
}

.modal-content .newfeed-new-item .poster-newfeed img {
    width: 100%;
    border-radius: 6px;
    aspect-ratio: 16/9;
    object-fit: cover;
}

.modal-content .newfeed-new-item footer .auth-infomation {
    display: flex;
    gap: 7px;
    align-items: center;
    font-weight: 300;
}

.modal-content .newfeed-new-item footer .auth-infomation span {
    font-size: 14.5px
}

.modal-content .newfeed-new-item footer .auth-infomation a strong {
    display: flex;
    align-items: center;
    gap: 5px;
    font-weight: 500;
    color: #180d00;
}

.modal-content .newfeed-new-item footer .auth-infomation a strong i {
    font-size: 10px;
    background: #4392ff;
    padding: 4px 4.5px;
    box-sizing: border-box;
    color: var(--white);
    border-radius: 50%;
}

.modal-content .newfeed-new-item:not(:last-child) footer {
    border-bottom: 1px solid rgb(10 10 10 / 10%);
    padding-bottom: 33px;
}

.dialog-box {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #ffffffee;
    border-radius: 11px;
    z-index: 10000;
    max-width: 300px;
    box-shadow: 0px 0px 20px #3333330f;
    opacity: 0;
    visibility: hidden;
}

.dialog-box.show {
    opacity: 1;
    visibility: unset;
}

.dialog-box .content-box {
    display: flex;
    text-align: center;
    flex-direction: column;
    padding: 1.7em 42px;
    gap: 6px;
    line-height: 1.5rem;
    box-sizing: border-box;
}

.dialog-box .content-box .title-box {
    font-size: 16px;
    color: #333333
}

.dialog-box .content-box .des-box {
    font-size: 13px;
    color: #3d3d3d
}

.dialog-box .button-box {
    display: flex;
    justify-content: space-between;
}

.dialog-box .button-box button {
    flex-basis: 50%;
    padding: 12px 0;
    outline: none;
    border: none;
    font-size: 14.5px;
    font-family: inherit;
    background: transparent;
    border-top: 1px solid #3333337f;
    -webkit-border-top: 1px solid #3333337f;
    cursor: pointer;
    transition: all 50ms ease
}

.dialog-box .button-box #btn-cancel-box {
    border-radius: 0 0 11px 0;
    color: #4a4a4a;
}

.dialog-box .button-box #btn-accpect-box {
    border-right: 1px solid #3333337f;
    -webkit-border-right: 1px solid #3333337f;
    border-radius: 0 0 0 11px;
    color: var(--main);
}

@media (max-width: 767px) {
    .modal-content {
        width: 92%;
        height: 86%;
        top: 7%;
        left: 4%;
    }

    .modal-content .newfeed-new-item {
        padding: 5px 25px;
    }

    .modal-content .newfeed-new-item footer {
        white-space: nowrap;
        overflow-x: auto;
        padding-bottom: 25px;
    }

    .dialog-box {
        min-width: 75vw;
        max-width: 80vw;
    }
    .dialog-box .content-box .title-box {
        font-size: 17px;
    }
    .dialog-box .content-box .des-box {
        font-size: 14px;
    }
    .dialog-box .button-box button {
        padding: 14px 0;
    }
}



/* Loadding Website */

.loadding_website {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    background: var(--white);
    top: 0; right: 0;
    bottom: 0; left: 0;
    z-index: 9999;
    opacity: 1;
    visibility: unset;
    transition: all 20ms ease;
}

.loadding_website.load {
    opacity: 0;
    visibility: hidden;
}

.loader {
    border: 2px solid;
    border-color: transparent var(--main);
    width: 48px;
    height: 48px;
    border-radius: 50%;
    display: inline-block;
    position: relative;
    box-sizing: border-box;
    animation: rotation 2s linear infinite;
  }
  
  @keyframes rotation {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
} 