@font-face {
    font-family: 'usego-Regular';
    src: url('../fonts/static/Nunito-Regular.ttf') format('truetype'),
         url('../fonts/static/Nunito-Bold.ttf') format('truetype'),
         url('../fonts/static/Nunito-ExtraBold.ttf') format('truetype'),
         url('../fonts/static/Nunito-Black.ttf') format('truetype');
}

* 
{
    margin: 0;
    padding: 0;
}

html, body 
{
    font-family: 'usego-Regular' !important;
    background: #f3f5f7;
    overflow-x: hidden !important;
    width: 100vw !important;
    max-width: 100vw !important;
    scroll-behavior: smooth;
    -webkit-scroll-behavior: smooth;
}

html ::-webkit-scrollbar 
{
    border-radius:0;
    height: 8px;
    width: 8px
}

html ::-webkit-scrollbar-thumb 
{
    background-color: rgba(0,0,0,.15);
    border-radius: 4px
}

html ::-webkit-scrollbar-track 
{
    background-color: transparent;
    border-radius: 0
}

:root 
{
    --white: #FFF;
    --clrf8: #f8f8f8;
    --black: #000;
    --main: #ff6000;
    --rendCanva: radial-gradient(100.99% 100.73% at 0% 0%,rgba(0,196,204,.726) 0%,#00c4cc 0.01%,rgba(0,196,204,0) 100%),radial-gradient(68.47% 129.02% at 22.82% 97.71%,#6420ff 0%,rgba(100,32,255,0) 100%),radial-gradient(106.1% 249.18% at 0% 0%,#00c4cc 0%,rgba(0,196,204,0) 100%),radial-gradient(64.14% 115.13% at 5.49% 50%,#6420ff 0%,rgba(100,32,255,0) 100%),#7d2ae7;
    --rendPuwi: linear-gradient(to top, rgb(92 33 254), rgb(87 233 207));
    --rendBuge:  linear-gradient(to bottom, rgb(206 130 255), rgb(94 82 255));
    --rendPuge: linear-gradient(to right, rgb(0, 126, 254), rgb(6, 195, 254));
    --button-image: linear-gradient(70.06deg, #2cccff -5%, #22dfbf 106%);
    --box3d: 5px 10px 20px rgba(134,153,168,.2), inset 0 -3px 8px hsla(0,0%,100%,.25), inset 1px 1px 1px hsla(0,0%,100%,.6), inset -1px -1px 2px rgba(0,0,0,.25);
}

::selection 
{
    background: var(--main);
    color: var(--white);
}

/* no scroll */

html.noscroll {
    overflow: hidden;
    max-width: 100vw;
    max-height: 100vh;
}

@media (max-width: 767px) 
{
    html, body 
    {
        background-color: var(--white);
        zoom: 1 !important;
        -webkit-zoom: 1 !important;
    }
 
    html ::-webkit-scrollbar 
    {
        height: 0px;
        width: 0px
    }
    
    html::-webkit-scrollbar-thumb 
    {
        background-color: rgba(0,0,0,.00);
        border-radius: 0px
    }
}

